---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>I am passionate in teaching! At Carnegie Mellon, I have TA’d for two core Human-Computer Interaction (HCI) courses: 05-410/610: User-Centered Research and Evaluation and 05-391/891: Designing Human-Centered Software. I have also received formal training in creating inclusive classroom environments, delivering constructive feedbacks, delivering effective lectures, and syllabus design through <a href="https://www.cmu.edu/teaching/">CMU Eberly Center for Teaching Excellence and Educational Innovation</a>.</p>

<p>I’ve also worked in teaching roles at the University of Minnesota for two years as a teaching assistant for CSCI 2011: Discrete Structures of Computer Science and as a teaching staff for the Coursera online MOOC “From GPS and Google Maps to Spatial Computing”.</p>


{% assign sorted = site.teaching | sort: 'date' %}

{% for post in sorted reversed %}
  {% include archive-single-pub.html %}
{% endfor %}
